.xmodal{
    user-select: none;
}

.xmodal.open .modal--window,
.xmodal.open .modal--overlay{
    opacity: 1;
    z-index: 1000;
}

.xmodal.hide--animation .modal--window,
.xmodal.hide--animation .modal--overlay{
    opacity: 1;
    z-index: 1000;
}

.xmodal.open .modal--window{
    transform: translateY(100px);
}

.xmodal.open .modal--overlay{
    background: rgba(0,0,0, 0.5);
}

.xmodal.hide--animation .modal--window{
    transform: translateY(-200px);
}

.xmodal.hide--animation .modal--overlay{
    background: rgba(0,0,0, 0);
}

.modal--window, .modal--overlay{
    opacity: 0;
    z-index: -1;
}

.modal--overlay{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, 0);
    transition: background 0.2s ease-out;
}

.modal--window{
    width: 600px;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    transform: translateY(-400px);
    transition: transform .2s ease-out;
}

.modal--header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.modal--title{
    font-size: 1.5rem;
}

.modal--close{
    cursor: pointer;
    user-select: none;
}

.modal--body{
    padding: 10px;
}

.modal--body p{
    margin: 0 0 5px;
}

.modal--footer{
    display: flex;
    justify-content: end;
    padding: 5px 10px;
    border-top: 1px solid #eee;
}

.card{
    max-width: 300px;
}

.card-img-top{
    object-fit: cover;
    /* max-height: 300px; */
}